:global(html) {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:global(body) {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:global(canvas) {
    width: 100%;
    height: 100%;
    overflow: hidden;
}